@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* scroll-behavior: smooth; */
}

.navbar-container {
  position:fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  flex-shrink: inherit;
  background-image: linear-gradient(180deg,black, rgba(84,84,84,0%));
  padding: 10px;
  z-index: 100000;
  transition: ease-in-out 1s;
}

.nav-logo {
  color: white;
  font-size: 40px;
  font-weight: 300;
}

.nav-ul {
  width: 50%;
  margin-left: 5em;
  flex-wrap: nowrap;

}

.nav-li {
  display: inline-flex;
  width: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left:10%;
  flex-wrap: nowrap;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: ease-in-out 0.5s;
}

.hover-blue:hover {
  
  color: #01ADCE;
  text-shadow: 0px 0px 16px #01ADCE;
  transform: scale(1.1);
  cursor: pointer;
}

.hover-red:hover {
  color: #C7012F;
  text-shadow: 0px 0px 16px #C7012F;
  transform: scale(1.1);
  cursor: pointer;
}

.hover-green:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 16px #01D34D;
  color: #01D34D;
  cursor: pointer;
}

.blue-text {
  color: #01ADCE;
}

.hero-container {
  display: flex;
  width: 100%;
  height: 1000px;
  background-position: center;
  background-size: contain;
  background-image: linear-gradient(180deg,rgba(84,84,84,0%),black), url('./images/hero.jpg');
}


.hero-title {
  display: block;
  width: 40%;
  text-align: left;
  margin: auto;
  margin-left:8%;
}

.hero-small-text {
  color: white;
  font-size: 55px;
}

.hero-large-text {
  color: #01ADCE;
  font-size: 75px;
  text-shadow: 0px 3px black;
}

.about-me-container {
  display: block;
  width: 40%;
  margin: auto;
  margin-right: 5em;
  text-align: left;

}

.about-me-text {
  color: white;
  font-size: 30px;
}

.work-container {
  display: flex;
  width: 100%;
  height: 1000px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg,rgba(84,84,84,0%),black),linear-gradient(180deg,rgba(84,84,84,0%),black), url('./images/work-bc.jpg');
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

.card-title {
  font-size: 50px;
  text-shadow: 0px 3px 6px black;
}

.link-icons {
  display: flex;
  flex-direction: row;
}

.icon {
  font-size: 25px;
  color: white;
  text-shadow: 0px 3px 6px black;
  transition: 0.5s;
}

.icon-text {
  color: white;
  text-decoration: none;
  font-size: 12px;
  list-style-type: disc;
}

.icon-link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.icon:hover {
  transform: scale(1.2);
  color: #C7012F;
}

.card-image img {
  width: 550px;
  height: 550px;
  border-radius: 15px;
}



.page-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 65px;
}

.title-container {
  background-color: black;
}

.red-text {
  color: #C7012F;
  margin-left: 15px;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-position: center;
  background-size:auto;
  height: 250px;
}
 
.icon-container {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-icon {
  font-size: 65px;
  color: white;
  transition: ease-in 0.3s;
}

.contact-icon:hover {
  transform: scale(1.1);
  color: #01D34D;
  text-shadow: 0px 0px 20px #01d34e8e;
}

.contact-text {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green-text {
  color: #01D34D;
  margin-left: 15px;
}

.contact-title-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 65px;
}

.contact-title {
  background-color: black;
  background-image: linear-gradient(0deg,rgba(84,84,84,0%),black), url('./images/contact-bc.jpg');
  background-size: cover;
  background-position: center;
}

.active-about {
  color: #01ADCE;
  text-shadow: 0px 0px 16px #01ADCE;
  transform: scale(1.1);
}

.active-work {
  color: #C7012F;
  text-shadow: 0px 0px 16px #C7012F;
  transform: scale(1.1);
}

.active-contact {
  color: #01D34D;
  text-shadow: 0px 0px 16px #01D34D;
  transform: scale(1.1);
}

.contact-me-p {
  color: white;
  font-size: 50px;
  width: 30%;
  margin: 30px auto;
}

.black {
  background-color: black;
}

.form-text {
  color: white;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto;
  height: 350px;
  width: 100%;
}

input {
  height: 50px;
  width: 300px;
  background-color: #232323;
  color: white;
  font-size: 18px;
}

.submit {
  border-radius: 20px;
  border: none;
  width: 200px;
  background-color: #01D34D;
  font-weight: bold;
  color: #232323;
  transition: ease-in-out 0.3s;
}

.submit:hover {
  transform: scale(1.1);
  background-color: #5fff9a;
  box-shadow: 0px 3px 10px black;
}

@media (max-width:1000px) {
  .navbar-container {
    display: none;
  }

  .hero-text {
    font-size: 25px;
  }

  .hero-container {
    height: fit-content;
  }
 
  .about-me-text {
    font-size: 15px;
  }

  .page-title {
    font-size: 25px;
  }

  .card {
    height: 300px !important;
    width: 300px !important;
  }

  .card-title {
    font-size: 25px;
  }

  .card-image img{
    height: 200px;
    width: 200px;
  }

  .card-div {
    height: fit-content;
  }

  .work-container {
    height: min-content;
  }

  .contact-title-text {
    font-size: 25px;
  }

  .form-text {
    font-size: 18px;
  }

  input {
    height: 40px;
    width: 200px;
  }

  .contact-icon {
    font-size: 30px;
  }
}