@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar-container {
  position:fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  flex-shrink: inherit;
  background-image: linear-gradient(180deg,black, rgba(84,84,84,0%));
  padding: 10px;
}

.nav-logo {
  color: white;
  font-size: 40px;
  font-weight: 300;
}

.nav-ul {
  width: 50%;
  margin-left: 5em;
  flex-wrap: nowrap;

}

.nav-li {
  display: inline-flex;
  width: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left:10%;
  flex-wrap: nowrap;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: #01ADCE;
}

.blue-text {
  color: #01ADCE;
}

.hero-container {
  display: flex;
  width: 100%;
  height: 1000px;
  background-position: center;
  background-size: contain;
  background-image: linear-gradient(180deg,rgba(84,84,84,0%),black), url('./images/hero.jpg');
}


.hero-title {
  display: block;
  width: 40%;
  text-align: left;
  margin: auto;
  margin-left:5em;
}

.hero-small-text {
  color: white;
  font-size: 55px;
}

.hero-large-text {
  color: #01ADCE;
  font-size: 75px;
}

.about-me-container {
  display: block;
  width: 40%;
  margin: auto;
  margin-right: 5em;
  text-align: left;

}

.about-me-text {
  color: white;
  font-size: 30px;
}